<footer class="footer" id="footer">
    <div class="footer-container">
        <div class="footer-columns">
            <div class="footer-column">
                <h1 class="High">PROA LA FALDA</h1>
                <a href="https://magician-web-ruddy.vercel.app/"><h1 class="armata-regular" style="font-size: 1.2rem;">By Magician Tech</h1></a>
            </div>

            <div class="footer-column">
                <h1>Contactar</h1>
                <ul>
                    <li><a href="https://proalafalda.blogspot.com/" target="_blank">Blogspot</a></li>
                    <li><a href="mailto:magicianwebweb@gmail.com" target="_blank">mail</a></li>
                    <li><a href="https://www.google.com/maps" target="_blank">Calle Falsa 123, La Falda</a></li>
                    <li><a href="tel:+5493548xxxxxx">Llamar al +5493548 xxxxxx</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h1>Redes</h1>
                <ul>
                    <li><a href="#" target="_blank"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li><a href="https://x.com/IraldeJordan" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="https://www.linkedin.com/in/jordanir/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
