<footer class="footer" id="footer">
    <div class="footer-container">
        <div class="footer-columns">
            <div class="footer-column">
                <h1 class="High">PROA LA FALDA</h1>
                <!-- Arimo Hebrew Subset-->
                <h1 class="armata-regular">By Magician Tech</h1> 
                <!-- Armata-->
            </div>


            <div class="footer-column">
                <!-- Arimo Hebrew Subset-->

                <h1>Contactar</h1>
                <ul>
                    <li><a href="#">asdkfjñaslñasldkfj</a></li>
                    <li><a href="#">asdkfjñaslñasldkfj</a></li>
                    <li><a href="#">asdkfjñaslñasldkfj</a></li>
                    <li><a href="#">asdkfjñaslñasldkfj</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <!-- Arimo Hebrew Subset-->

                <h1>Redes Sociales</h1>
                <ul>
                    <li><a href="#">asdkfjñaslñasldkfj</a></li>
                    <li><a href="#">asdkfjñaslñasldkfj</a></li>
                    <li><a href="#">asdkfjñaslñasldkfj</a></li>
                    <li><a href="#">asdkfjñaslñasldkfj</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
        </div>
    </div>
</footer>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<!-- Esto hace que pueda ver los iconos, wow-->