<header>
    <div>
        <ul>
            <h1>Materias</h1>
            <ul>
                <li><a href="/Proa/back/view/CrearMaterias">Crear materias</a></li>
                <li><a href="/Proa/back/view/verMatrerias">VerMaterias</a></li>
                <li><a href="/Proa/back/view/BorrarMateria">BorrarMateria</a></li>
            </ul>
        </ul>
    </div>
    <div>
        <h1>Noticias</h1>
        <ul>
            <li><a href="/Proa/back/view/CrearMaterias">Crear materias</a></li>
            <li><a href="/Proa/back/view/verMatrerias">VerMaterias</a></li>
            <li><a href="">BorrarMateria</a></li>
        </ul>
    </div>
    <div>
        <h1>Promos</h1>
    </div>
</header>
