<header>
    <div class="menu-header">
        <div> 
            <div>
                <app-barra-de-busqueda class="input-menu-header"/>
            </div>
            <div class="entradas">
                <div class="listado">
                    <a href="">home</a>
                    <a href="">Contacto</a>
                    <a href="">Encontranos</a>
                    <a href="">Noticias</a>
                </div>
                <div class="listado">
                    <a href="">Historia ProA</a>
                    <a href="">Las Promos</a> 
                    <a href="">Materias</a>
                    <a href="">Especialidad</a>
                </div>
            </div>
            <div class="byMagician">
                <app-by-magician-tech />
            </div>
        </div>
    </div>
    <!-- Título y Logo -->
    <div class="titulo-header fond-seleste t-blanco-seleste bor-radius46">
        <img src="ProA2.png" alt="logo" height="80px">
        <h1>{{ texto }}</h1>
    </div>

    <!-- Navegación -->
    <div class="nav-header">
        <button id="button-header" class="button">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50" class="svg">
                <path d="M 5 8 A 2.0002 2.0002 0 1 0 5 12 L 45 12 A 2.0002 2.0002 0 1 0 45 8 L 5 8 z M 5 23 A 2.0002 2.0002 0 1 0 5 27 L 45 27 A 2.0002 2.0002 0 1 0 45 23 L 5 23 z M 5 38 A 2.0002 2.0002 0 1 0 5 42 L 45 42 A 2.0002 2.0002 0 1 0 45 38 L 5 38 z"></path>
            </svg>
        </button>
    </div>
</header>