@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Armata&display=swap');



/* Estilos generales del header */
header {
    display: flex;                    /* Usamos Flexbox para distribuir los elementos */
    justify-content: space-between;    /* Distribuye el contenido entre los extremos */
    align-items: center;              /* Alinea los items verticalmente */
    padding: 3% 5%;                   /* Espaciado interno */
}

/* Estilos del contenedor del título y logo */
.titulo-header {
    display: inline-flex;             /* Hace que el contenedor solo ocupe el tamaño del contenido */
    align-items: center;              /* Alinea los elementos del título y logo verticalmente */
    gap: 10px;                        /* Espaciado entre el logo y el título */
    padding: 15px 30px;               /* Espaciado interno alrededor del título y logo */
    background-color: #437CF7;        /* Fondo azul claro */
    color: #DFF4FA;                   /* Color blanco claro */
    border-radius: 46px;              /* Bordes redondeados */
}

.titulo-header h1{
    margin-left: 5px;
    font-family:"Arimo", sans-serif;
}

/* Estilos del contenedor del botón */
.nav-header {
    margin-left: auto;                /* Empuja el botón hacia la derecha */
}

/* Estilos del SVG dentro del botón */
.svg {
    height: 50px;                     /* Altura del SVG */
    width: 50px;                      /* Ancho del SVG */
    fill: #437CF7;                    /* Color del SVG */
}


/* Estilos del botón, asegurando que no tenga bordes o fondo */
.button {
    /*
    height: 80px;
    width: 80px;
    */
    list-style: none;
    background-color: rgba(255, 0, 0, 0); /* Fondo transparente */
    border: none;                        /* Sin borde */
}

.button:hover svg{
    fill: #DFF4FA;
}