@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Armata&display=swap');

/*Desktop*/
header{
    padding: 1%;
}


.desplegables{
    position: fixed;
    /*width: 60%;*/
    right: 4.5%;
}

.contenedor-deplegable{
    padding-top: 4px;
}

.aparece{
    display: grid;
}

.over1:hover .deplegable1{
    display: grid;
}


.deplegable{
    display: grid;
    grid-template-rows: repeat(auto auto);
    background-color: #252525;
    width: 100%;
    padding: 10%;
    border-radius: 10px;
    right: 0;
}




.deplegable a{
    color: #DFF4FA;
    text-decoration: none;
    font-family: "Arimo", sans-serif;
    font-size: 1.5rem;
       
}

.deplegable a:hover{
    color: #437CF7;
}

.header-desktop{
    padding: 1%;
    display: grid;
    background-color: #252525;
    grid-template-columns: 0.6fr 1fr 1fr;
    width: 98%;
    align-items: center;
    border-radius: 10px;
}


.titulo-header {
    display: inline-flex;             /* Hace que el contenedor solo ocupe el tamaño del contenido */
    align-items: center;              /* Alinea los elementos del título y logo verticalmente */
    gap: 10px;                        /* Espaciado entre el logo y el título */           
    color: #DFF4FA;                   /* Color blanco claro */
}

.desp{
    display: grid;
    grid-template-columns: auto auto auto;
}

.desp a{
    color: #DFF4FA;
    text-decoration: none;
    font-family: "Arimo", sans-serif;
    font-size: 1.5rem;
       
}

.desp a:hover{
    color: #437CF7;
}

/*
.header-desktop nav{
    grid-template-columns: repeat(3, 1fr);
}
*/
/*Mobile*/

.mobile{
    
    display: none;
}
/* Estilos generales del header */
/*

*/


.titulo-header h2{
    margin-left: 5px;
    font-family:"Arimo", sans-serif;
}

/* Estilos del contenedor del botón */
.nav-header {
    margin-left: auto;                /* Empuja el botón hacia la derecha */
}

/* Estilos del SVG dentro del botón */
.svg {
    height: 50px;                     /* Altura del SVG */
    width: 50px;                      /* Ancho del SVG */
    fill: #437CF7;                    /* Color del SVG */
    /*mix-blend-mode: difference;*/
}


/* Estilos del botón, asegurando que no tenga bordes o fondo */
.button {
    /*
    height: 80px;
    width: 80px;
    */
    list-style: none;
    background-color: rgba(255, 0, 0, 0); /* Fondo transparente */
    border: none;                        /* Sin borde */
}

.button:hover svg{
    mix-blend-mode: difference;
}


/* Menu */

.dysplaynone{
    display: none;
    fill: #DFF4FA;
}


.menu-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100vh;
    background-color: #252525;
    z-index: 1000; /* Para que esté sobre otros elementos */
    padding: 3%;
    
}

.menu-header svg{
    display: none;
}

/*
.input-menu-header{
    
}
*/
.entradas{
    margin-top: 15%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.listado {
    margin-top: 15px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 15px;
}

.menu-header a{
    color: #DFF4FA;
    list-style: none;
    text-decoration: none;
    font-size: 2.5rem;
    font-family:"Arimo", sans-serif;
}

.menu-header a:hover{
    color: #437CF7;
}

.byMagician{
    position: fixed; /* Fija el elemento en la pantalla */
    margin-bottom: 3%;
    bottom: 0px; /* Coloca el elemento en la parte inferior */
}

@media (max-width : 800px) {
    .desktop{
        display: none;
    }
    
    header {
        display: flex;                    
        justify-content: space-between;    
        align-items: center;                              
    }

    .entradas{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    
    .menu-header{
        width: 100%;
        padding-top: 15%;
    }

    .menu-header a{
        margin-left: 5%;
        font-size: 1.5rem;
    }
    
    .menu-header svg{
        position: fixed;
        top: 0;
        right: 0;
        margin-top: 10%;
        margin-right: 7%;
        fill: #DFF4FA;
        display: block;
        width: 40px;
        height: 40px;
    }

    .mobile{
        display:contents;
    }

    /* Estilos del contenedor del título y logo */
    .titulo-header {
        display: inline-flex;             /* Hace que el contenedor solo ocupe el tamaño del contenido */
        align-items: center;              /* Alinea los elementos del título y logo verticalmente */
        gap: 10px;                        /* Espaciado entre el logo y el título */
        padding: 10px 20px;               /* Espaciado interno alrededor del título y logo */
        background-color: #437CF7;        /* Fondo azul claro */
        color: #DFF4FA;                   /* Color blanco claro */
        border-radius: 46px;              /* Bordes redondeados */
    }
}