<section class="contacto">
    <div>
        <div class="gallery-container">
            <img class="main-image" src="istockphoto-104240509-612x612.jpg" alt="Escuela ProA">
            <div class="gallery">
                <img src="istockphoto-104240509-612x612.jpg" alt="Escuela ProA">
                <img src="istockphoto-104240509-612x612.jpg" alt="Escuela ProA">
                <img src="istockphoto-104240509-612x612.jpg" alt="Escuela ProA">
                <img src="istockphoto-104240509-612x612.jpg" alt="Escuela ProA">
            </div>
        </div>
    </div>



    <h2>Contactanos</h2>
    <div class="contact-info">
        <button class="btn">
            <img src="mail.png" alt="Email" width="60" height="60">
            📧 Gmail ProA Escuelasproa2edu.ar
        <button class="btn">📞 Número De Contacto  33390290</button>
        <button class="btn">📧 Gmail ProA  Escuelasproa2edu.ar</button>
        <button class="btn">🌐 Escuelas ProA  EscuelasProA.web.com.ar</button>
    </div>
</section>


