<section class="contacto">
    <div>
        <div class="gallery-container">
            <img class="main-image" src="escuelaproa4.png" alt="Escuela ProA">
            <div class="gallery">
                <img src="escuelaproa4.png" alt="Escuela ProA">
                <img src="escuelaproa4.png" alt="Escuela ProA">
                <img src="escuelaproa4.png" alt="Escuela ProA">
                <img src="escuelaproa4.png" alt="Escuela ProA">
            </div>
        </div>
    </div>



    <h2>Contactanos</h2>
    <div class="contact-info">
      <button class="btn">
        <img src="mail.png" alt="Email" width="60px" height="60px">
         Gmail ProA Escuelasproa2edu.ar
      </button>
      <button class="btn">
      <img src="mobile_friendly.png" alt="Email" width="20px" height="20px">
        Número De Contacto  33390290
      </button>
  
      <button class="btn">
        <a href="https://api.whatsapp.com/send?phone=+543548636524">📞 Número De Contacto  33390290</a>
      </button>
  
      <button class="btn">
        <a href="">📧 Gmail ProA  Escuelasproa2edu.ar</a>
        
      </button>
  
      <button class="btn">
       <a href="https://magician-web-ruddy.vercel.app/" target="_blank">🌐 MagicianWb </a> 
      </button>
    </div>
</section>


