<section class="contacto">
    <div class="imagenes">
        <div class="gallery-container">
            <div>
              <img class="main-image" src="escuelaproa4.png" alt="Escuela ProA">
            </div>
            <div class="gallery">
                <img src="escuelaproa4.png" alt="Escuela ProA">
                <img src="escuelaproa4.png" alt="Escuela ProA">
                <img src="escuelaproa4.png" alt="Escuela ProA">
                <img src="escuelaproa4.png" alt="Escuela ProA">
            </div>
        </div>
    </div>



    <h2>Contactanos</h2>
    <div class="contact-info">

  
      <button class="btn">
        <a href="https://api.whatsapp.com/send?phone=543548636524" target="_blank">📞 Escribenos a nuestro número De Contacto</a>
      </button>
  
      <button class="btn">
        <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJNqLCRSZsZXplfBLSVzvqHmmJKMlgVXKXdsJSnSdWzFndSjFVpZJvnzNQfnCzQVRllbJxq">📧 Gmail ProA </a>
        
      </button>
  
       <button class="btn">
       <a href="https://www.cba.gov.ar/escuelas-proa/" target="_blank">🌐Escuelas Proa</a> 
      </button>
    </div>
</section>


