
.gallery-container {

    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #111;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    border-radius: 13px;

}
.gallery-container div{
    margin-right: 5px;

}
.imagenes{
    padding-left: 20.7%;
    padding-right: 20.7%;

}
.main-image {

    width: 400px;
    height: 400px;
    
    border-radius: 13px;
}

.gallery {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 0%;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 13px;
}

.contacto {
    text-align: center;
    padding: 20px;
    background-color: #111;
}

.btn {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 12px;
    background-color: #4a90e2;
    border: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    background-color: #357ABD;
    transform: scale(1.05);
}


h2 {
    color: #DFF4FA;
    padding-bottom: 50px;
    margin-top: 100px;
}

.contact-info{

    margin-bottom: 50px;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

@media (max-width:800px){
    .gallery-container{

        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,1fr);
    }

}