<div class="Contenedor">
    <div class="Texto">
        <p>
            Lorem ip´sim sañdlfkjasdñlfkjasñdlfkjasñdlfkjasñdlf
            kjasñldkfjasñldkfjsañldkfjasñdlfkjasdñlkfjasñldkfja
            sñldkfñasldkjfasñldkjfñalsdkjfñasldkfjasñldkfjasñld
            jasñlkdjfasñldkfjasñdlfjasdñlfksafñasldkfjasñldkfjas
            ñdlfkjsañldfkjasdñlkfjsñldfkjasñldkfjasñdlkfjsañdlkfj
            asñlkldfasñldjfñasldkjfañslkdfjsñaldkfñlskjd
        </p>
    </div>
    <div class="Imagen">
        <img src="ProA2.png" alt="Proa">
    </div>
</div>