<%- include("comp/head") %>
<body>
    <%- include("comp/header") %>
    <main>
        <form action="/Proa/back/api/borrarMateria/<%id%>" method="DELETE">
            <h1>Borrar ID:</h1>
            <input type="text" name="id" id="id" required>
            <button type="submit">Borrar</button>
        </form>
    </main>
</body>
</html>