<%- include("comp/head") %>
<body>
    <%- include("comp/header") %>
    <main>
        <form action="/Proa/back/api/borrarMateria/<%= id %>" method="POST">
            <h1>Borrrar ID:</h1>
            <input type="text" name="idConfirm" id="idConfirm" required>
            <button type="submit">Borrar</button>
        </form>
    </main>
</body>
</html>