<div class="container">
    <app-header [texto]="'Especialidad'"></app-header>
    <div class="Texto">
        <p>AAAAAAAAAAAAAAAAAA1.</p>
        <p>AAAAAAAAAAAAAAAAAA2</p>
        <p>AAAAAAAAAAAAAA3</p>
        <p>AAAAAAAAAAAAAAAA4</p>
    </div>
    <h1>Tecnologias</h1>

    <div class="Tecnologias">
        <img src="TechPython.png" alt="Python" width="100" height="100">
        <img src="TechPython.png" alt="Python" width="100" height="100">
        <img src="TechPython.png" alt="Python" width="100" height="100">
        <img src="TechPython.png" alt="Python" width="100" height="100">
        <img src="TechPython.png" alt="Python" width="100" height="100">
        <img src="TechPython.png" alt="Python" width="100" height="100">
        <img src="TechPython.png" alt="Python" width="100" height="100">
        
        <img src="TechPython.png" alt="Python" width="100" height="100">
        <img src="TechPython.png" alt="Python" width="100" height="100">
        <img src="TechPython.png" alt="Python" width="100" height="100">
        <img src="TechPython.png" alt="Python" width="100" height="100">
        <img src="TechPython.png" alt="Python" width="100" height="100">
        <img src="TechPython.png" alt="Python" width="100" height="100">
        <img src="TechPython.png" alt="Python" width="100" height="100">

        <img src="TechPython.png" alt="Python" width="100" height="100">
        <img src="TechPython.png" alt="Python" width="100" height="100">
        <img src="TechPython.png" alt="Python" width="100" height="100">
        <img src="TechPython.png" alt="Python" width="100" height="100">
        <img src="TechPython.png" alt="Python" width="100" height="100">
        <img src="TechPython.png" alt="Python" width="100" height="100">
        <img src="TechPython.png" alt="Python" width="100" height="100">
    </div>
</div>